

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700;900&display=swap');




*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.top_nav{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    background-color: rgb(11, 11, 136);
    color: white;
    padding: 0rem 4rem;
    height: 50px;

  
   
}

.top_left{
    /* border: 1px solid blue; */
    display: flex;
    gap: 3rem;
    align-items: center;
}


.top_left > span{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

.top_left > span:hover{
    cursor: pointer;
    color: orange;
}






.hr_line{
    color: red;
    height: 100%;
}

.top_right{
    /* border: 1px solid orange; */
    display: flex;
    align-items: center;
    gap: 3rem;
}


.top_right > span{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

.top_right > span:hover{
    cursor: pointer;
    color: orange;
}



/* MAIN NAVBAR CSS HERE  */


.main_nav{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
}

.nav_menu{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav_menu > span{
    font-size: 0.8rem;
    font-weight: bold;
    color: rgb(61, 59, 59);
}

.nav_menu > span:hover{
    color: rgb(5, 153, 238);
    cursor: pointer;
}


.main_nav_right{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main_nav_right > button{
    background-color: orange;
    padding: 1rem 2rem;
    border: none;
    color: white;
}

.main_nav_right > button:hover{
    background-color: white;
    color: orange;
    cursor: pointer;
    border: 1px solid orange;
}


/* .main_nav_right >span{
    border: 1px solid red;
    display: inline-block;
    display: flex;
    gap: 1rem;
    align-items: center;
} */

#cart_one{
    /* color: red; */
    /* border: 1px solid red; */
    padding: 0.2rem 0.4rem;
    border-radius: 50%;
    background-color: orange;
    color: white;
    position: relative;
    top: -10px;
    left: -10px;
    font-size: 0.7rem;
    
}



/* hero section css here  */


.hero{
    /* border: 1px solid red; */
    height:100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-image: url('https://w0.peakpx.com/wallpaper/291/722/HD-wallpaper-spa-beach-hotel-polynesia-resort-lit-sea-lights-beach-swimming-luxury-hotel-exotic-islands-ocean-pacific-pool-paradise-spa-island-tropical.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


.hero > p{
    font-size: 1.5rem;
    color: white;

}


.hero  > h1{
    font-size: 3rem;
    color: white;
}


.five_star{
    color: orange;
}


.hero_btn{
    display: flex;
    gap: 1rem;
}


.hero_btn  > button{
    padding: 1rem 3rem;
    
    

}


.btn_one{
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
}

.btn_one:hover{
    background-color: white;
    border: 1px solid orange;
    color: orange;
}

.btn_two{
    background-color: white;
    /* border: 1px solid orange; */
    cursor: pointer;
    border: none;
}


.btn_two:hover{
    color: orange;

}



/* booking section css here */

.booking{
    /* border: 1px solid red; */
    height: 150px;
    margin-bottom: 10px;
    margin-left:100px;
    margin-right:100px;
    background-color: white;
    position: relative;
    top: -100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    display: flex;
    padding: 1rem;
    justify-content: space-between;

}


.check_in{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}


.check_in > input{
    padding: 1rem;
}



/* service section start */


.service{
    /* border: 1px solid red; */
    display: flex;
    margin-left:100px;
    margin-right:100px;
    justify-content: space-evenly;
    gap: 20px;

}


.services{
    /* border: 1px solid blue; */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
    margin-bottom: 50px;

    
}


.services:hover{
    background-color: rgb(141, 178, 247);
    color: white;
   
    
}

.services:hover h2{
    color: white;
}


.services:hover i{
    color: white;
}



.services > i{
    color: rgb(236, 14, 99);
    font-size: 3rem;
}





.services > h2{
    font-size: 1.3rem;
    color: rgb(19, 18, 18);
}


.services > p{
    text-align: center;
    font-size: 0.8rem;
}


.service_center{
    background-color: rgb(255, 1, 141);
    color: white;
}

.service_center > h2{
    color: white;
}

.service_center > i {
    color: white;
}


/* main_section css hrer */


.main_section{
    display: flex;
    margin-left:100px;
    margin-right:100px;
    gap: 10px;

}

.main_left{
   
    flex: 1;
    border: 1px solid red;
    padding: 10px;
}


.main_right{
    border: 1px solid rgb(98, 0, 255);
  
    flex: 1;
    display: flex;
}

.main_right > img{
    width: 300px;
    height: 300px;
    border: 5px solid white;
}


.main_left > p{
    margin-top: 10px;
}